body
{
    background-color: lightgreen;
}
  
@media only screen and (max-width: 1000px)
{
    body
    {
      background-color: lightblue;
    }
}

#welcome-section
{
    display: flex;
    justify-content: center;
    vertical-align: middle;
    background-color: burlywood;
    height: 100vh;
}